@model LocacaoVeiculos.Models.Veiculo

@{
    ViewBag.Title = "Locar";
    var locacao = ViewBag.Locacao as List<LocacaoVeiculos.Models.Locacao>;
}

<div class="row">
    <div class="col-md-12">
        <h2>Veiculo locado</h2>
    </div>
    <div class="col-md-12">
        <hr />
        @if (locacao.Any())
        {
            foreach (var item in locacao)
            {
                <dl class="dl-horizontal">
                    <dt>
                        Valor Locação
                    </dt>

                    <dd>
                        R$@item.ValorLocado,00
                    </dd>

                    <dt>
                        Veiculo
                    </dt>

                    <dd>
                        @Model.Id | @Model.Marca | @Model.Modelo
                    </dd>
                </dl>
            }
        }
        else
        {        
            <dl class="dl-horizontal">
                <dt>
                    Valor Locação
                </dt>

                <dd>
                    R$@Model.ValorLocacao
                </dd>

                <dt>
                    Veiculo
                </dt>

                <dd>
                    @Model.Id | @Model.Marca | @Model.Modelo
                </dd>
            </dl>
        }
    </div>
</div>
<p>    
    @Html.ActionLink("Back to List", "Index")
</p>
